/***** NAVBAR *****/

.navbar {
    background-color: #5e80ba;
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: white;
    font-size: px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #e493b2;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #5e80ba;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #e493b2;
    color: #fff;
    fill: #fff;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.jumbotron {
    background-image: url("../assets/Texturelabs_InkPaint_409XL.jpg");
    text-align: center;
    color: #5e80ba;
    padding: 3%;
    border-radius: 0px;
}

.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 
        0px 0px 5px #ffffff,
        0px 0px 5px #ffffff,
        0px 0px 5px #ffffff,
        0px 0px 5px #ffffff;
}

.jumbotron p {
    font-size: 21px;
    text-shadow: 
        0 0 3px #ffffff,
        0 0 3px #ffffff,
        0 0 3px #ffffff,
        0 0 3px #ffffff; 
}

.img-responsive{
    width:100%;
}

/*** CARD ***/

.card {
    background-color: #fff;
    border-color: #cccccc;
    border-width: 1px;
    width: 100%;
}

.card:hover {
    border-color: #e493b2;
}

/*** Basic Text Styles ***/

#about-world {
    max-height: 200px;
}

.resume h3 {
    font-weight: bold;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: #5e80ba;
}

a:hover {
    color: #e493b2;
}

.container{
    padding:25px 0;
}

body {

    font-family: 'Georgia', serif;
    background-color: #b8b8b8;
    color: #242424;
}

.btn-primary {
    background-color:#5e80ba;
    border-color:#5e80ba;
}

.btn-primary:hover {
    background-color:#e493b2;
    border-color:#e493b2;
}